@import 'normalize.styl'
@import "nib"

backgroundColor = #181721
Naranja = #E15C16
Gris = #9E9E9E

html
  background-color backgroundColor
  font-family Open Sans
  font-size 16px

body
	padding 2em 5em

footer
	margin 1em 0
	color Naranja
	text-align center

.Header
	color Naranja
	display flex
	align-items center
	justify-content space-around

.Menu
	font-size 2em
	li
		display inline-block
		margin-right 1em
	li:hover
		border-bottom 1px solid Naranja
		cursor pointer

.Picture__large
	width 250px

.Main
	margin 1em 0

.Main__Section
	width 80%
	margin 2em auto

.Title
	color white
	font-weight normal

.Text__Description
	color Gris
	p
		margin-bottom .5em

/*
** POSTS
*/

.Main__Post
	width 80%
	margin 2em auto
	display flex
	flex-wrap wrap
	justify-content space-around

.Post
	width 17em
	margin-bottom 1em

.Post__Title
	color white
	text-align center

.Post__Description
	color Gris
	text-align center

.Post__Picture
	img
		width 17em


.Post__Footer
	color white
	text-align left
	display flex
	justify-content space-between
	div
		a
			text-decoration none
			color Naranja


/*
** Monitores a 1048px
*/
@media screen and (max-width: 1048px)
	.Menu
		font-size 1.5em


/*
** Screen a 800px
*/
@media screen and (max-width: 800px)
	.Picture__large
		width 100px

	.Menu
		display none
